<!DOCTYPE html>
<html>
	<head>
		<!-- Character Set -->
		<meta charset="utf-8">
		<!-- Make clear what the following line means -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS File -->
		<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
		
		<title>Full Stack Nanodegree</title>
	</head>
	<body>
		<div class="container">
			<header class="row">
				<div class="col-md-6">
					<h1 style="float:left">Full Stack Nanodegree</h1>
				</div>
				<div class="col-md-6">
					<table style="float:right">
						<tr>
						{% if not logged %}
							<td>
								<a href="/signup">
								signup
								</a>
							</td>
							<td>
								<a href="/login">
								Login
								</a>
							</td>
						{% else %}
							<td>
								<a href="/logout">
								logout
								</a>
							</td>
						{% endif %}
						</tr>
					</table>
				</div>
			</header>
			
			<section class="row">
				{% block userAccount %}
				{% endblock %}
			</section>
			
			<section class="row">
				{% block blog %}
				{% endblock %}
			</section>
			
		</div>
	</body>
</html>