<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Full Stack Nanodegree</title>
	</head>
	<body>
		<h1>Full Stack Nanodegree</h1>
		
		<table>
			<tr>
			{% if not logged %}
				<td>
					<a href="/signup">
					signup
					</a>
				</td>
				<td>
					<a href="/login">
					Login
					</a>
				</td>
			{% else %}
				<td>
					<a href="/logout">
					logout
					</a>
				</td>
			{% endif %}
			</tr>
		</table>

		<hr>
		
		{% block userAccount %}
		{% endblock %}
		
		{% block blog %}
		{% endblock %}
		
	</body>
</html>