{% extends "blogBase.html" %}

{% block content %}

	<h3>{{blog.title}}</h3>
	<div>{{blog.author}}</div>
	<div>{{blog.created.strftime("%H:%M %b %d, %Y")}}</div>
	<hr>
	</textarea style="width:300px; height:500px;">{{blog.content | safe}}</textarea>
	
	<!-- Edit & Delete -->
	<br><br>
	{% if is_author %}
		<form method="post">
			<button name="editButton">Edit</button>
			<button name="deleteButton">Delete</button>
		</form>
	{% endif %}
	
	<br>
	<!-- Likes -->
	<h4>Likes {{likeCount}}</h4>
	{% if not is_author and not liked %}
		<form method="post">
			<button name="likeButton">Like</button>
		</form>
	{% endif %}
	
	<br>
	<!-- Comments -->
	<h3>Comments</h3>
	{% for comment in comments %}
		<div class="row">
			<div class="col-md-1">{{comment.author}}</div>
			<div class="col-md-3">{{comment.created.strftime("%H:%M %m-%d-%Y")}}</div>
		</div>
		<div>{{comment.content}}</div>
		<form method="post">
			{% if comment.author == userName %}
				<input name="comment" type="hidden" value="{{comment.key().id()}}">
				<button name="editComment">Edit</button>
				<button name="deleteComment">Delete</button>
			{% endif %}
		</form>
		<br>
	{% endfor %}
	
	<br>
	<!-- New Comment -->
	<h3>New Comment</h3>
	<form method="post">
		<textarea name="commentContent" style="width:300px;height:150px;"></textarea>
		<br>
		<input type="submit">
	</form>
	
{% endblock%}