{% extends "blogBase.html" %}

{% block content %}
	{% for blog in blogs %}
		<div class="blog">
			<div class="row">
				<h3>
					<a class="col-md-3" href="/blog/{{blog.key().id()}}">{{blog.title}}</a>
				</a3>
			</div>
			<div class="row">
				<div class="col-md-1">{{blog.author}}</div>
				<div class="blog-created col-md-2" style="display:block">{{blog.created.strftime("%H:%M %b %d, %Y")}}</div>
			</div>
			
			<div class="row">
				<pre class="blog-content col-md-12">{{blog.content}}</pre>
			</div>
			<hr>
		</div>
	{% endfor %}
{% endblock %}