{% extends "blogBase.html" %}

{% block content %}

	<h3>{{blog.title}}</h3>
	<div>{{blog.author}}</div>
	<div>{{blog.created.strftime("%H:%M %b %d, %Y")}}</div>
	<hr>
	</textarea style="width:300px; height:500px;">{{blog.content | safe}}</textarea>
	
	<!-- Edit & Delete -->
	<br><br>
	{% if is_author %}
		<form method="post">
			<a href="/blog/edit/{{blog.key().id()}}">Edit</a>
			<a href="/blog/delete/{{blog.key().id()}}">Delete</a>
		</form>
	{% endif %}
	
	<br>
	<!-- Likes -->
	<h4>Likes {{likes_count}}</h4>
	{% if (not is_author) and (not liked) and (not userName=='') %}
		<form method="post">
			<a href="/blog/like/{{blog.key().id()}}">Like</a>
		</form>
	{% endif %}
	
	<br>
	<!-- Comments -->
	<h3>Comments</h3>
	{% for comment in blog.comments %}
		<div class="row">
			<div class="col-md-1">{{comment.author}}</div>
			<div class="col-md-3">{{comment.created.strftime("%H:%M %m-%d-%Y")}}</div>
		</div>
		<div>{{comment.content}}</div>
		<form method="post">
			{% if comment.author == userName %}
				<input name="comment" type="hidden" value="{{comment.key().id()}}">
				<a href="/blog/{{blog.key().id()}}/edit/{{comment.key().id()}}">Edit</a>
				<a href="/blog/{{blog.key().id()}}/delete/{{comment.key().id()}}">Delete</a>
			{% endif %}
		</form>
		<br>
	{% endfor %}
	
	<br>
	<!-- New Comment -->
	<h3>New Comment</h3>
	<form method="post">
		<textarea name="commentContent" style="width:300px;height:150px;"></textarea>
		<br>
		<input type="submit">
	</form>
	
{% endblock%}