{% extends "blogBase.html" %}

{% block content %}

	<h3>{{blog.title}}</h3>
	<div>{{blog.author}}</div>
	<div>{{blog.created.strftime("%H:%M %b %d, %Y")}}</div>
	<hr>
	</textarea style="width:300px; height:500px;">{{blog.content | safe}}</textarea>
	
	<!-- Edit & Delete -->
	<br><br>
	{% if is_author %}
		<form method="post">
			<button name="editButton">Edit</button>
			<button name="deleteButton">Delete</button>
		</form>
	{% endif %}
	
	<br>
	<!-- Likes -->
	<h4>Likes</h4>
	{% for like in likes %}
		<div>{{like.fromed}}</div>
	{% endfor %}
	<br>
	{% if not is_author %}
		<form method="post">
			<button name="likeButton">Like</button>
		</form>
	{% endif %}
	
	<br>
	<!-- Comments -->
	<h3>Comments</h3>
	{% for comment in comments %}
		<div>{{comment.author}}</div>
		<div>{{comment.content}}</div>
		<form method="post">
			{% if comment.author == userName %}
				<a href="/blog/{{blog.key().id()}}/{{comment.key().id()}}">Edit Comment</a>
				<input name="deleteComment" type="hidden" value="{{comment.key().id()}}">
				<button>Delete Comment</button>
			{% endif %}
		</form>
		<br>
	{% endfor %}
	
	<br>
	<!-- New Comment -->
	<h3>New Comment</h3>
	<form method="post">
		<textarea name="commentContent" style="width:300px;height:150px;"></textarea>
		<br>
		<input type="submit">
	</form>
	
{% endblock%}