{% extends "blogBase.html" %}

{% block content %}
	<h3>New Post</h3>
	
	<form method="post">
	
		<label>
			<div>Title</div>					
			<input type="text" name="subject" value={{blogTitle}}>
		</label>
		
		<br><br>
		
		<label>
			<div>Blog</div>
			<textarea style="height:200px; width:500px;" name="content">{{blogContent}}</textarea>
		</label>
		
		<br><br>
		
		{% if errorMessage%}
			<div style="color:red;">{{errorMessage}}</div>
		{% endif %}
		
		<br><br>
		
		<input type="submit">
		
	</form>
{% endblock %}